
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form action="/student/save" method="get">
<div>
    firstname:<input type="text" name="firstname" />
</div>
    <div>
        Lastr Name:<input type="text" name="lastname" />
    </div>
    <input type="submit" value="Save Data" />
</form>

